
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

/*Using this when in phone mode 1. Links will be hidden*/
	.meta-content {display: none;}

/*  .sec5jewellryimg {
    height: 50px;
  }*/



}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {


}



body{
   font-size: 1em;
   letter-spacing: 0.5px;
   word-spacing: 0px;
   font-family: 'Open Sans', sans-serif;
}

/* -1-------------------------------------
   1. Nav Links to Sell/Registry.......
   -------------------------------------- */
  	#toplinks{border-bottom: none;}

     .sec1fontcolr{
        color: black;
        opacity: 0.5;
        font-size: 9px;
     }

     .sec1ul{
        margin-bottom: 0px;
     }


/* -3-------------------------------------
   3. Nav Bar + Dropdown + thumbnails + buttons
   -------------------------------------- */
   .sec3navbar {
      margin-bottom: 0;
   }

   .sec3row {
      background-color: #52B3D9;
   }

   
   .navbar-default .sec3row .navbar-nav>li>a {
      color: white;
      transition: color 0.3s ease-in;
   }

   .navbar-default .sec3row .navbar-nav>li>a:hover {
      color: #D24D57;
   }

   .rich-nav-item img {
      float: left;
   }

   .rich-nav-item a,
   .rich-nav-item button
    {
      margin-left: 10px;
   }

   .navbar-toggle {
      margin-left: 30px;
    }
/* -4-------------------------------------
   4. Container divided in to 3 block's (Mens/Womens/Baby)
   -------------------------------------- */

    .sec4container .row > div {
       padding: 0;

    }
    .sec4container .row > div img {
       width: 100%;
       border: 1px solid white;
       position: relative;
    }

   /*------TEXT BLOCKS OVER IMAGES-------------*/
    .sec4menstextdiv {
       height: 60px;
       width: 60%;
       margin-right: 0px;
       position: absolute;
       bottom: 5%;
       background: rgba(0, 0, 0, 0.7);
    }
    .sec4menstexth2{
       color: red;
       margin-top: 5px;
       margin-bottom: 0px;
       font-weight: bold;
       font-family: "Times New Roman";
    }
    .sec4menstextp1 {
       margin: 0px;
       color: white;
    }
    .sec4menstextp2{
       height: 20px;
       width: 60%;
       margin-right: 0px;
       position: absolute;
       bottom: -4%;
       background-color: #D24D57;
       color: white;
       margin-bottom: 20px;
       padding-top: 2px;
    }


    .sec4womenstextdiv {
       height: 60px;
       width: 60%;
       margin-right: 0px;
       position: absolute;
       bottom: 50%;
       background: rgba(0, 0, 0, 0.7);
    }
    .sec4womenstexth2{
       color: red;
       margin-top: 5px;
       margin-bottom: 0px;
       font-weight: bold;
       font-family: "Times New Roman";
    }
    .sec4womenstextp1 {
       margin: 0px;
       color: white;

    }
       
    .sec4babytextcontainer {
       bottom: 0%;
       left: 0%;
       position: absolute;
       height: 32px;
       width: auto;
       background-color: #52B3D9;
    }

    .sec4babytextdiv {
       height: 30px;
       width: 70px;
       background-color: #52B3D9;
       padding-top: 7px;
    }
    .sec4babytext{
       color: white;
       margin-top: 5px;
       margin-bottom: 0px;
       font-family: 'Open Sans', sans-serif;
       background-color: #52B3D9;
       margin-left: 0px;

    }

    .sec4babytextglyph1 {
       height: 30px;
       width: 30px;
       background-color: #3498DB;
       color: white;
       padding-top: 10px;
       padding-left: 10px;
       margin-left: 0px;
    }
    .sec4babytextglyph2 {
       height: 30px;
       width: 30px;
       background-color: #D24D57;
       color: white;
       padding-top: 10px;
       padding-left: 10px;
       margin-left: -5px;
    }
    .sec4babytextprice {
       height: 50px;
       width: 30px;
       color: white;
       padding-top: 9px;
       padding-bottom: 9px;
       padding-right: 9px;
       padding-left: 9px;
       background: rgba(0, 0, 0, 0.7);
       margin-left: -5px;
    }




/* --------------------------------------
   5. Container divided in to 3 block's (Search bar/Crafts/Jewellry)
   -------------------------------------- */
    .sec5container .row > div {
       padding: 0;
       margin-bottom: 10px;
       /*position: relative;*/
    }

    .sec5container .row > div img {
       width: 100%;
       border: 1px solid white;
    }



    /*------TEXT BLOCKS OVER IMAGES-------------*/

      .sec5craftstextcontainer {
         bottom: 0%;
         left: 0%;
         position: absolute;
         height: 32px;
         width: auto;
         background-color: #D24D57;
      }

      .sec5craftstextdiv {
         height: 30px;
         width: 70px;
         /*background-color: #52B3D9;*/
         padding-top: 7px;
      }
      .sec5craftstext{
         color: white;
         margin-top: 5px;
         margin-bottom: 0px;
         font-family: 'Open Sans', sans-serif;
         /*background-color: #52B3D9;*/
         margin-left: 0px;

      }

      .sec5craftstextglyph1 {
         height: 30px;
         width: 30px;
         background-color: #3498DB;
         color: white;
         padding-top: 10px;
         padding-left: 10px;
         margin-left: 0px;
      }
      .sec5craftstextglyph2 {
         height: 30px;
         width: 30px;
         background-color: #D24D57;
         color: white;
         padding-top: 10px;
         padding-left: 10px;
         margin-left: -5px;
      }
      .sec5craftstextprice {
         height: 50px;
         width: 30px;
         color: white;
         padding-top: 9px;
         padding-bottom: 9px;
         padding-right: 9px;
         padding-left: 9px;
         background: rgba(0, 0, 0, 0.7);
         margin-left: -5px;
      }

      /*jewellry*/
      .sec5jewellrytextcontainer {
         bottom: 0%;
         left: 0%;
         position: absolute;
         height: 32px;
         width: auto;
         background: rgba(0, 0, 0, 0.7);
         /*background-color: #87D37C;*/
         /*transform: rotate(-90deg);*/
      }

      .sec5jewellrytextdiv {
         height: 30px;
         width: 70px;
         /*background-color: #52B3D9;*/
         padding-top: 7px;
      }
      .sec5jewellrytext{
         color: white;
         margin-top: 5px;
         margin-bottom: 0px;
         font-family: 'Open Sans', sans-serif;
         /*background-color: #52B3D9;*/
         margin-left: 0px;

      }

      .sec5jewellrytextglyph1 {
         height: 30px;
         width: 30px;
         background-color: #3498DB;
         color: white;
         padding-top: 10px;
         padding-left: 10px;
         margin-left: 0px;
      }
      .sec5jewellrytextglyph2 {
         height: 30px;
         width: 30px;
         background-color: #D24D57;
         color: white;
         padding-top: 10px;
         padding-left: 10px;
         margin-left: -5px;
      }
      .sec5jewellrytextprice {
         height: 50px;
         width: 30px;
         color: white;
         padding-top: 9px;
         padding-bottom: 9px;
         padding-right: 9px;
         padding-left: 9px;
         background: rgba(0, 0, 0, 0.7);
         margin-left: -5px;
      }


/* --------------------------------------
   6. New Products
   -------------------------------------- */
    .sec6container .row > div img {
       width: 100%;
       border: 1px solid white;
       margin-bottom: 10px;
       position: relative;

    }

    .sec6header {
       font-size: 12px;
       color: #52B3D9;
       margin-bottom: 0px;
    }

    .sec6hrtag{
       margin-top: 0px;
    }

    .sec6label1 {
      font-size: 2vmin;
      position: absolute;
      top: 0%;
      right:4%; 
    }
     .sec6label2 {
      font-size: 2vmin;
      position: absolute;
      top: 0%;
      right:4%; 
    }
     .sec6label3 {
      font-size: 2vmin;
      position: absolute;
      top: 0%;
      right:4%; 
    }
/* --------------------------------------
   7. New Products
   -------------------------------------- */

    .sec7container .row > div img {
       width: 100%;
       /*border: 1px solid white;*/
       /*margin-bottom: 10px;*/
       position: relative;
    }

    .sec7h3tag {
       font-size: 12px;
       color: #52B3D9;
       margin-bottom: 0px;
    }


    .sec7hrtag{
       margin-top: 0px;
    }


    .sec7imagecol{
      border: 1px solid whitesmoke;
      /*margin: 1px;*/
      padding: 30px;
      /*width:24%; */

    }

    .sec7imagetitle {
      /*border: 1px solid grey;*/
    }
    .sec7imagetitle > h5{
      margin: 0;
      height: 25px;
      padding-top: 2%;
      font-size: 12px;
    }
    .sec7iconrow {
      /*border: 1px solid grey;*/
      height: 30px;
      /*background: rgba(0, 0, 0, 0.7);*/
      background-color: gainsboro;
      /*width: inherit;*/
      margin-right: -3px;
    }
    .sec7glyphs {
      /*border: 1px solid grey;*/
      padding-top: 2%;
      padding-left: 8%;
      padding-right: 8%;
      font-size: 12px;
      color: black;
    }
    .sec7container {
      margin-bottom: 10px;
    }


/* --------------------------------------
   8. Who We Are
   -------------------------------------- */

    .sec8h3tag {
       font-size: 12px;
       color: #52B3D9;
       margin-bottom: 0px;
    }


    .sec8hrtag{
       margin-top: 0px;
    }

    .sec8glyph1 {
       height: 100px;
       width: 200px;
       background-color: #22313F;
       text-align: center;
       color: white;
       font-size: 1.5em;
       padding-top: 40px;
    }

    .sec8glyph2 {
       height: 100px;
       width: 200px;
       background-color: #52B3D9;
       text-align: center;
       color: white;
       font-size: 1.5em;
       padding-top: 40px;
    }

    .sec8glyph3 {
       height: 100px;
       width: 200px;
       background-color: #D24D57;
       text-align: center;
       color: white;
       font-size: 1.5em;
       padding-top: 40px;
    }

    .sec8register {
      text-align: center;
       margin-top: 30px;

    }


    a.sec8registerAtag {
       color: white;
       padding: 10px 15%;
       background-color: #52B3D9;
       color: white;
       font-size: 1.5em;
       width: 50%;
    }

    .sec8glyphbox {
       text-align: center;
    }

/* -9-------------------------------------
   9. Footer
   -------------------------------------- */
    .sec9signupemail {
       height: 30px;
       width: 70%;
       border: 1px solid black;
       padding-left: 5%;
       padding-top: 10px;
       margin-bottom: 0px;
    }
    .sec9signupsubscribe {
       height: 30px;
       width: 70%;
       /*border: 1px solid black;*/
       padding-left: 10%;
       padding-top: 10px;
       background-color: #52B3D9;
       color: white;
    }
    .sec9rssicon {
       color: orange;
    }
    .sec9fbicon {
       color: #446CB3;
    }
    .sec9twittericon {
       color: #6BB9F0
    }
    .sec9flickricon {
       color: #EF4836;
    }
    .sec9googleicon {
       color: #1F3A93;
    }
    .sec9copyrighthr1 {
       margin-top: 10px;
    }
    .sec9copyrighthr2 {
       margin-bottom: 10px;
    }



















